

/* ===== Primary Styles ========================================================
   Author:
   ========================================================================== */


#loginPane {
	color:#FFF;
	float:right;
}

.container{



}


body{

 background-color:#ABABAB;

}






div.info{

  background-color:white;

}


/* ROSTER STYLES */
div#roster {
   border-radius:4px;
   background-color:#FFF;
   margin:10px 0 10px 0;
   padding:10px;
   display:table;
   width:100%;
}

table#roster {
   
   margin:0px 0 10px 0;
   width:100%;

}

table#roster td {
   
   
   padding:10px;
   border:1px #000 solid;
   
}
