<div align="center">

<?php if ( isset($this->errorMsg) ): ?>
 <div class="errorBox">
 
	<?php echo $this->errorMsg; ?>
 
 </div>
<?php endif; ?>

 <form action="?auth/login" method="post">
  email: <input type="text" name="login" />
  <br />
  password:  <input type="password" name="pw" />
  <br />
  <input type="submit" />
 </form>
</div>