
<h2 align="center"> Create Your Own Group </h2><br />

<form name="createForm" action="" method ="POST" id="createGroup">
<div align="center">

Group Name       : <input type="text" name="name" /><br />
Short Description: <input type="text" name="shortDesc" /><br />
Long Description : <textarea cols="50" rows="10" name="longDesc"></textarea><br /><br />

Is this group Private?  <input type="checkbox" name="private" value="0" /><br /><br />
         <div id='roster-add-search'>
            Parent Group: <input id='roster-add-search' type='text' name="supGroup" />
         </div>
<input type="submit" value="Submit" />
<input type="reset" value="Reset" />

</div>
</form>
