<!---
**************Edit view page*************

This page appears when te user has access to it (is an admin of a group) and decides
to edit the group in order to change the information of it.

-->
<h2 align="center"> Edit Group </h2><br />

<form name="createForm" action="" method ="POST">
<div align="center">

Group Name       : <input type="text" name="name" value="<?php echo $this->groupInfo->name; ?>"/><br />
Short Description: <input type="text" name="shortDesc" value="<?php echo $this->groupInfo->shortDesc; ?>" /><br />
Long Description : <textarea cols="50" rows="10" name="longDesc"><?php echo $this->groupInfo->longDesc; ?></textarea><br /><br />

Is this group Private?  <input type="checkbox" name="private" <?php echo $this->groupInfo->private ? "checked='checked'":""; ?> /><br /><br />

<input type="submit" value="Submit" />
<input type="reset" value="Reset" />

</div>
</form>
