<!-----------------------------------------------------------------------------------
Function print_workflow

Use: Checks if the specific group has workflows or not and prints the appripriate message

Gets called by both Published and Working Workflows sections
-------------------------------------------------------------------------------------->
<?php

function print_workflow_table($workflows) {

    if(!$workflows)
	   {return false;}
	   
	echo '<table border="1" width="100%">
	<tr>
		<th><h4><u> Name </u></h4></th>
		<th><h4><u> Description </u></h4></th>
		<th><h4><u> Publication Date </u></h4></th>
	</tr>';	
 

foreach ($workflows as $workflow) {

			echo '<tr>';
			echo '<td align="center"><a href ="?workflow/viewWorkflow/'.$workflow->idWorkflow.'">' . $workflow->title . '</a></td>';
			echo '<td align="center">' . $workflow->shortDesc . '</td>';
			echo '<td align="center">' . $workflow->pubDate . '</td>';
			echo '</tr>';
}

 echo '</table>';
 
	return true;
}	   
?>

<?php 
 if(isset($msg)){
echo '<div>';
echo $msg;
echo '</div>';
 }
 ?>
<!-------------------------------------------------------------------------------------
Title of a specific group's page.
Calls the idGroup for each specific group
-------------------------------------------------------------------------------------->
<h1 align="center"><u>Group <?php echo $this->groupInfo->idGroup; ?> Information</u></h1>

<?php  
	if(isset($_SESSION['uid'])){	
  		if($isAdmin && $isMember): ?>
	     <button type="button" ONCLICK="window.location.href='?groups/edit/<?php echo $id ?>'"> Edit Group </button>
        <?php endif; ?>

<?php   if($isPrivate == false && !$isMember) : ?>
        <button type="button" ONCLICK="window.location.href='?groups/join/<?php echo $id ?>'"> Join Group </button>
        <?php endif;}
     ?>

<!-------------------------------------------------------------------------------------
Table Call of each of attributes from the Groups database to describe the group
-------------------------------------------------------------------------------------->


<div class="info">

<table border="1" width="100%">
    <tr>
      <th>Group Name</th>
	  <th>Short Description</th>
	  <th>Long Description</th>
	  <?php if(isset($_SESSION['uid'])): ?>
	  <th>Your Role</th>
	  <?php endif; ?>
	  <th>Group Type</th>
	  <th>Creation date</th>
	  <th>Created by</th>
    </tr>
    <tr>
	  <td align='center'><?php echo $groupInfo->name; ?></td>
	  <td align='center'><?php echo $groupInfo->shortDesc; ?></td>
	  <td align='center'><?php echo $groupInfo->longDesc; ?></td>
	  <?php if(isset($_SESSION['uid'])): ?>
	  <td align='center'><?php echo ($userRole == -1) ? "Not a member" : $userRole; ?></td>
	  <?php endif; ?>
	  <td align='center'><?php echo ($groupInfo->private == true) ? "Private" : "Public"; ?></td>
	  <th align='center'><?php echo $groupInfo->createDate; ?></th>
	  <th align='center'><?php echo $groupCreator; ?></th> 
	  </tr>
</table>


</div>

<hr size="4px" color="black">
<!-------------------------------------------------------------------------------------
This table presents the published workflows of the group
Anyone ca see them and access them but not edit them if is not a group member
-------------------------------------------------------------------------------------->
<div class="info">
<h2><u>Published Workflows</u></h2>
	
<?php  

		if(! print_workflow_table($publishedWorkflows))
		    echo "No Affiliated Workflows";
			
 ?>
 
 </div>
<!-------------------------------------------------------------------------------------
Only group members have access to view or select the working workflows
If the user is not a member of the group it displays a denial of access message
-------------------------------------------------------------------------------------->
<hr size="4px" color="black">

<div class="info">
<h2><u>Working Workflows</u></h2>
<?php

    if(isset($workingWorkflows)){
	
	if(! print_workflow_table($workingWorkflows))
		    echo "No Affiliated Workflows";
	
	}
	else{
	      echo "You do not have permissions for this section";
	}

?>
 
 
</div>
<!--------------------------------------------------------------------------------
Roster of the group is printed with the ability to be edited if the user has the
right credentials
---------------------------------------------------------------------------------->
<?php $this->groupRoster->printRoster(); ?>

<!--------------------------------------------------------------------------------
Displays The Super Group of the group if there is one
---------------------------------------------------------------------------------->
<?php echo "<h4> Super Group: <a href='?Groups/" . $this->superGroupID . "'>" . $this->superGroupName . "</a> </h4>" ?> 
