<h1 align="center"><u>List of all Groups</u></h1>

<?php if(isset($_SESSION['uid'])): ?>
<button align="right "type="button" ONCLICK="window.location.href='?groups/create/'" > Create Group </button>
<?php endif; ?>

<div class="info">

<table border="3" width='100%'>
	<tr>
		<th><h3><u>Group Id</u></h3></th>
		<th><h3><u>Group Name</u></h3></th>
		<th><h3><u>Short Description</u></h3></th>
	</tr>
	<?php foreach ($this->groupQuery as $Query) {

			echo '<tr>';
			echo '<td align="center">' . $Query->idGroup . '</td>';
			echo '<td align="center"><a href ="?groups/'.$Query->idGroup.'">' . $Query->name . '</a></td>';
			echo '<td align="center">' . $Query->shortDesc . '</td>';
			echo '</tr>';

			}
	?>
</table>
</div>