<!--
*****The home page of the website*****

Here is where the most published recently published workflows are printed

If the user is logged in, the groups he is a member of also printed

If the user is not logged in nor an active member of the website, he is given the
choice to register
-->
<?php

function print_workflow_table($workflows) {

    if(!$workflows)
	   {return false;}
	   
	echo '<table border="1" width="100%">
	<tr>
		<th><h3><u> Name </u></h3></th>
		<th><h3><u> Description </u></h3></th>
		<th><h3><u> Publication Date </u></h3></th>
	</tr>';	
 

foreach ($workflows as $workflow) {

			echo '<tr>';
			echo '<td align="center"><a href ="?workflow/viewWorkflow/'.$workflow->idWorkflow.'">' . $workflow->title . '</a></td>';
			echo '<td align="center">' . $workflow->shortDesc . '</td>';
			echo '<td align="center">' . $workflow->pubDate . '</td>';
			echo '</tr>';
}

 echo '</table>';
 
	return true;
}	   

function print_groups_table($groups) {

    $creator = new GroupModel();

    if(!$groups)
	   {return false;}
	   
	echo '<table border="1" width="100%">
	<tr>
		<th><h3><u> Name </u></h3></th>
		<th><h3><u> Short Description </u></h3></th>
		<th><h3><u> Creator </u></h3></th>
	</tr>';	
 

foreach ($groups as $group) {

			echo '<tr>';
			echo '<td align="center"><a href ="?groups/'.$group->idGroup.'">' . $group->name . '</a></td>';
			echo '<td align="center">' . $group->shortDesc . '</td>';
			echo '<td align="center">' . $creator->getCreator($group->idGroup) . '</td>';
			echo '</tr>';
}

 echo '</table>';
 
	return true;
}	   

echo '<u><h1><b> Welcome to Rolling Synapse!!! </h1></br>';
echo '<p><u><h2> Most Recent Published Workflows </h2></u>';
echo '<div class="info">';
print_workflow_table($publishedWorkflows);
echo '</div>';

if(isset($_SESSION['uid'])){
echo '<u><h3> Your Groups </h3></u>';
echo '<div class="info">';
print_groups_table($joinedGroups);
echo '</div>';
}

	
?>