
<div align="center">

 <form action="?Registration/process" method="post">
  Name:  <input type="text" name="name" />
  <br />
  Title:  <input type="text" name="title" />
  <br />
  Email: <input type="text" name="email_1" />
  <br />
  Re-enter Email:  <input type="text" name="email_2" />
  <br />
  Password:  <input type="password" name="password" />
  <br />
  <input type="submit" id="register" value="Register" />
 </form>
</div>

