This text is located in views/main.html. Here is some debug: <div class="info"> <?php var_dump($_POST);var_dump($_GET) ?></div>

<form action="?test" method="POST">
<input type="text" name="dude">
</form>

<?php echo $this->power."AND $power" ?>
