<h2 align="center"> Edit Workflow </h2><br />

<form name="createForm" action="" method ="POST">
<div align="center">

Workflow Name       : <input type="text" name="title" value="<?php echo $this->workflowInfo->title; ?>"/><br />
Long Description: <input type="text" name="longDesc" value="<?php echo $this->workflowInfo->longDesc; ?>" /><br />
Content :		 <textarea cols="50" rows="10" name="content" value="<?php echo $this->workflowInfo->content; ?>" /></textarea><br /><br />

<input type="submit" value="Submit" />
<input type="reset" value="Reset" />

</div>
</form>
