<h1><center>
Published Workflows
</center></h1>
<br>
<br>
<br>

<?php

function print_workflow_table($workflows) {

    if(!$workflows)
	   {return false;}
?>
	<table border="1" width="100%">
	<tr>
		<th width='10%'> Name </th>
		<th width='80%' > Description </th>
		<th width ='10%'> PublicationDate </th>
	</tr>	
 
<?php
foreach ($workflows as $workflow) {

			echo '<tr>';
			echo '<td align="center"><a href ="?Workflow/viewWorkflow/'.$workflow->idWorkflow.'">' . $workflow->title . '</td>';
			echo '<td align="center">' . $workflow->shortDesc . '</td>';
			echo '<td align="center">' . $workflow->pubDate . '</td>';
			echo '</tr>';
}

 echo '</table>';
 
	return true;
}	   

echo '<div class="info">';
print_workflow_table($publishedWorkflows);
echo '</div>';
?>