<h1 align="center"><u>Workflow <?php echo $this->workflowInfo->idWorkflow; ?> Information </u></h1>

<!--Edit Button
Only appears if the user is signed in and has access 
to editing workflows (Admin and Collaborator)-->
<?php 

     $mem = new MembershipModel();

if($mem->roleLevel($this->workflowInfo->idGroup)  <  2 &&
   $mem->roleLevel($this->workflowInfo->idGroup) != -1){
   
       $button = '<button type="button" ONCLICK="%s"> Edit Workflow </button>';
       printf($button, "window.location='?workflow/edit/".$this->workflowInfo->idWorkflow."'");
       
	  }

?>

<br>
<br>
<br>
<br>

<!--Table that Contains the Information stored in the 
	Database of the Workflow						  -->
<center>
<div class="info">
<table border='1' align="center" width='100%' height='100%'>                          
	<tr>

        <th>Workflow ID</th>
        <th>Group Owner ID</th>
	    <th>Title</th>
	    <th>pubDate</th>
	    <th width = '50%'>Long Description </th>
	</tr>
<tr>

<td align="center">
<?php echo $this->workflowInfo->idWorkflow; ?>
</td>
<td align="center">
<?php echo $this->workflowInfo->idGroup; ?>   
</td>
<td align="center">
<?php echo $this->workflowInfo->title; ?> 
</td>
<td align="center">
<?php echo $this->workflowInfo->pubDate; ?>
</td>
<td align="center">
<?php echo $this->workflowInfo->longDesc; ?>
</td>
</tr>
</table>
</div>
</center>
<br>
<br>
<br>
<br>
<br>

<div class="info">
<table border='1' align="center" width='100%'>      

<tr>
        <th>Content</th>
		<tr>
		<td align="center">
		<?php echo $this->workflowInfo->content; ?>
		</td>
      
	</tr>

</table>
</div>


