<h1 align="center"><u>List of all Published Workflow </u></h1>

<?php if(isset($_SESSION['uid'])): ?>
<button align="right "type="button" ONCLICK="window.location.href='?Workflow/create/'" > Create Workflow </button>
<?php endif; ?>

<div class="info">

<table border="3" width='100%'>
	<tr>
		<th>Workflow ID</th>
		<th>Workflow Name</th>
		<th>Short Description</th>
	</tr>
	<?php foreach ($this->workflowQuery as $Query) {

			echo '<tr>';
			echo '<td align="center">' . $Query->idWorkflow . '</td>';
			echo '<td align="center"><a href ="?workflow/'.$Query->idWorkflow.'">' . $Query->title . '</a></td>';
			echo '<td align="center">' . $Query->shortDesc . '</td>';
			echo '</tr>';

			}
	?>
</table>
</div>